<footer>
  <div class="container">
    {{> navbar edit=true }}
    <div class="footer-block d-flex justify-content-between">
      <h5>hello@gidu.com</h5>
      <p class="copyright">Copyright 2022© - GIDU</p>
    </div>
  </div>
</footer>