<nav class="{{#if edit}} dark {{/if}} ">
  <div id="nav-container" 
  class="d-flex justify-content-between">
    <a href="/" class="logo-link">
      <p class="logo color-brand">
        GIDU
        <span class="logo-description">Online shopping center</span>
      </p>
    </a>
    <div id="nav-buttons">
      <ul class="d-flex align-items-center">

        {{#if currentUser}}
            {{#ifDue単oisOn due単o=currentUser.due単o}}
              <li class="nav-item">
                <a class="nav-link btn-brand-3" href="/tienda/your/{{currentUser.id}}">Your Shop</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link nav-link btn-brand-3" href="/tienda/create">Open your shop</a>
              </li>
            {{/ifDue単oisOn }}

            

            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
        {{/if}}
        
        <li class="nav-item">
          <a class="nav-link" href="/allTiendas">Shops</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" href="/map">Contacts</a>
        </li>     

        {{#if currentUser}}
        <li class="nav-item">
            <a class="nav-link" href="/editUser">
              <img src="{{currentUser.image}}" style="height: 50px;" alt="user image navbar">
            </a>
        </li> 
        {{/if}}

      </ul>
    </div>
  </div>
</nav>


