<nav class="{{#if edit}} dark {{/if}} ">
  <div id="nav-container" 
  class="d-flex justify-content-between">
    <a href="/" class="logo-link">
      <p class="logo color-brand">
        GIDU
        <span class="logo-description">Online shopping center</span>
      </p>
    </a>
    <div id="nav-buttons">
      <ul class="d-flex">

        {{#if currentUser}}
            {{#ifDue単oisOn due単o=currentUser.due単o}}
              <li class="nav-item">
                <a class="nav-link btn-brand-3" href="/tienda/your/{{currentUser.id}}">Your Shop</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/tienda/create">Open your shop!</a>
              </li>
            {{/ifDue単oisOn }}

            <li class="nav-item">
                <a class="nav-link" href="/editUser">Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/map">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/allTiendas">Tiendas</a>
        </li>        

      </ul>
    </div>
  </div>
</nav>


