<div id="tienda">
    <div class="tiendaImg"></div>
    <div class="tienda-info">
        <h3>NOVEDADES <br>TENDENCIAS <br> MONTAÑA</h3>
        <p class="description">Tenemos dispoinbles los modelos más exclusivos de los ulitmos años. Cazadoras, mochilas, zapatillas...</p>
    </div>
    <div class="mouse_scroll mouse_scroll_tienda ">
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div> 
    <img class="logo-tienda" src="" alt="">
</div>

<script>

    let tienda_imgs = document.querySelectorAll('.tiendaImg')
    tienda_imgs.forEach(element => {
    
        setTimeout( () => {

            element.classList.add('active')

        },100)
    
    });


</script>