    
    
    <div style="margin-top: 100px">
        {{#if currentUser}}
        <h1>Hello {{currentUser.name}} - {{currentUser.email}}</h1>
        <p>{{currentUser}}</p>
        {{else}}
        <h1>Hello whatevere</h1>
        {{/if}}
    </div>
