
<BR></BR>
<BR></BR>
<h1>ALL THE FUCKING TIENDAS</h1>

{{#each tiendas as |tienda|}}
    <div class="swiper-slide tienda-slide" style="background: url({{tienda.image}});">
        <a class="tiendalink-home" href="/tienda/{{tienda.id}}"></a>
    </div>
{{/each}}