{{!-- Hero --}}
<div id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container">
    <h1>
      We have <br> 
      <span class="montserrat color-brand">exclusive</span> products <span class="color-brand">&</span><br>
      <span class="">trendy</span> brands
    </h1>

    <div id="hero-button mt-4">
      <a href="/login" class="btn-brand-1">LOGIN</a>
      <a href="/map" class="btn-brand-2">CONTACT</a>
    </div>

    {{#ifDue単oisOff due単o=currentUser.due単o}}
    <a href="/tienda/create">Open your Shop</a>
    {{!-- <form method="POST" action="/editUser/{{currentUser.id}}/abreTienda">
        <button type="submit" class="btn-brand-2 input-createTienda">Open your Shop!</button>
    </form>  --}}
    {{/ifDue単oisOff }}
  </div>

  <div class="social-media d-flex justify-content-between">
    <a href="#instagram">Instagram</a>
    <a href="#facebook">Facebook</a>
    <a href="#linkedin">Linkedin</a>
    <a href="#twitter">Twitter</a>
  </div>

  <div class="mouse_scroll">
		<div>
			<span class="m_scroll_arrows unu"></span>
			<span class="m_scroll_arrows doi"></span>
			<span class="m_scroll_arrows trei"></span>
		</div>
  </div> 

  {{!-- <p class="logo color-brand imagotipo">G</p> --}}
  <p class="keep-scrolling">Keep scrolling</p>
</div>


<!-- Swiper Tiendas -->
<div id='section-tiendas' class="pt-5 pb-5">
  <h3 class="container pb-3 small">Tiendas</h3>
    <div class="swiper mySwiper container">
      <div class="swiper-wrapper">

      {{#each tiendas as |tienda|}}
      
        <div class="swiper-slide tienda-slide" style="background: url({{tienda.image}});">
          <a class="tiendalink-home" href="/tienda/{{tienda.id}}"></a>
        </div>
      {{/each}}
        
        {{!-- style="background: url({{tienda.logo}});" --}}
        {{!-- <div class="swiper-slide tienda-slide">Slide 2</div>
        <div class="swiper-slide tienda-slide">Slide 3</div>
        <div class="swiper-slide tienda-slide">Slide 4</div>
        <div class="swiper-slide tienda-slide">Slide 5</div>
        <div class="swiper-slide tienda-slide">Slide 6</div>
        <div class="swiper-slide tienda-slide">Slide 7</div>
        <div class="swiper-slide tienda-slide">Slide 8</div>
        <div class="swiper-slide tienda-slide">Slide 9</div> --}}
      </div>
    </div>
</div>


<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3.5,
    spaceBetween: 15,
    pagination: {
      clickable: true,
    },
  });
</script>