{{!-- Hero --}}
<div id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container">
    <h1>
      We have <br> 
      <span class="montserrat color-brand">exclusive</span> products <span class="color-brand">&</span><br>
      <span class="">trendy</span> brands
    </h1>

    <div id="hero-button mt-4">
      <a href="/login" class="btn-brand-1">LOGIN</a>
      <a href="/map" class="btn-brand-2">CONTACT</a>
    </div>

    {{#ifDueñoisOff dueño=currentUser.dueño}}
      <a href="/tienda/create">Open your Shop</a>
    {{/ifDueñoisOff }}
  </div>

  <div class="social-media d-flex justify-content-between">
    <a href="#instagram">Instagram</a>
    <a href="#facebook">Facebook</a>
    <a href="#linkedin">Linkedin</a>
    <a href="#twitter">Twitter</a>
  </div>

  <div class="mouse_scroll">
		<div>
			<span class="m_scroll_arrows unu"></span>
			<span class="m_scroll_arrows doi"></span>
			<span class="m_scroll_arrows trei"></span>
		</div>
  </div> 
  <p class="keep-scrolling">Keep scrolling</p>
</div>

<section id="infoGidu">
  <div class="container">
    <div class="infoGidu-block d-flex justify-content-between">
      <div class="infoGidu-block_img d-flex justify-content-center align-items-center">
        {{!-- <div class="infoGidu-block_img_block"> --}}
          <p class="logo color-brand imagotipo">G</p>
          <p class="imagotipo-down">G</p>
        {{!-- </div> --}}
      </div>
      <div class="infoGidu-block_test">
        <h3 class="pb-3 small">Quienes <span class="montserrat color-brand">somos</span></h3>
        <p class="text mb-3">Somos un centro comercial donde pondras encontrar tiendas y productos de diferentes marcas, si te registras podrás dar a like y añadir comentarios a tus productos favoritos.</p>
        <p class="text">Tambien te damos la opción de poder crear tu propia tienda y mostrar a todos nuestros usuarios tus productos. Cada final de mes el producto con más likes y comentarios se sorteará
           entre los usuarios</p>
      </div>
    </div>
  </div>
</section>


<!-- Swiper Tiendas -->
<div id='section-tiendas' class="pt-5 pb-5">
  <h3 class="container pb-3 small">Tiendas</h3>
    <div class="swiper mySwiper container">
      <div class="swiper-wrapper">
      {{#each tiendas as |tienda|}}      
        <div class="swiper-slide tienda-slide" style="background: url({{tienda.image}});">
          <a class="tiendalink-home" href="/tienda/{{tienda.id}}"></a>
        </div>
      {{/each}}
      </div>
    </div>
</div>

<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3.5,
    spaceBetween: 15,
    pagination: {
      clickable: true,
    },
  });
</script>