<h1>create tienda</h1>

<form action="/tienda/create" method="POST">
  <label> Name: <input name="name" /> </label>
  <br>
  <label> Image: <input name="image" /> </label>
  <br>

  <button type="submit"> Crea tienda </button>
</form>