<div class="container">
  <div class="row mx-auto justify-content-center">
    <div class="col-6">
      <h1>Create tienda</h1>

      {{#if currentUser.dueño}}
      {{>tiendaForm edit=false }}
      {{else}}
        <h1>tienes que logearte como dueño para crear una tienda</h1>
      {{/if}}
    </div>
  </div>
</div>