/* ----------------- */
/* BASIC */
/* ----------------- */

body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    text-transform: uppercase;
}

h1, h3 {
    color: #fff;
    font-size: 85px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
}

h4 {
    color: #fff;
    font-size: 50px;
}

.tienda-info h3 {
    text-transform: uppercase;
    width: 70%;
}

h3.small {
    font-size: 60px;
}

h5 {
    font-size: 35px;
    font-family: 'Montserrat';
}

.color-brand {
    color: #acff00;
}

.montserrat {
    font-family: 'Montserrat, sans-serif' !important;
    font-weight: 900;
    font-style: italic;
}

.btn-brand-1 {
    padding: 10px 45px;
    background: #acff00;
    color: #000;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 400;
    border-radius: 50px;
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
}

.btn-brand-1_account {
    margin-left: 15px;
}

.btn-brand-2 {
    display: inline-block;
    color: #acff00;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat';
    text-decoration: none;
    letter-spacing: 1.2px;
}

.btn-brand-google {
    width: 100%;
    color: #acff00;
    border-color: #acff00;
}

.btn-brand-google:hover {
    background-color: #acff00;
    color: #000;
    border-color: #acff00;
}

form {
    position: relative;
    z-index: 9999;
}

.icon-login {
    margin-right: 7px;
}



/* ----------------- */
/* NAV */
/* ----------------- */

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 35px;
    z-index: 9;
}

.logo {
    font-family: 'Montserrat, sans-serif';
    font-weight: 700;
    font-size: 50px;
    padding: 0 50px;
    position: relative;
    text-decoration: none;
}

.logo-description {
    position: absolute;
    font-family: 'Montserrat';
    top: 20px;
    right: -75px;
    font-weight: 300;
    color: #939393;
    font-size: 14px;
    width: 116px;
    line-height: 1.4;
}

.logo-link {
    text-decoration: none;
}

.imagotipo {
    font-size: 60px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #fff;
    font-size: 20px;
    text-transform: lowercase;
}

.nav-link:hover {
    color: #acff00;
}

.logo-tienda {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    object-fit: contain;  
    background: url();
}

.tienda-productos {
    margin-top: 200px;
}

.product-slide {
    height: 300px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #fff !important;
}

.head-product, .footer-product {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.footer-product {
    top: auto;
    bottom: 20px;
}

/* nav Dark */

nav.dark {
    padding: 20px 0 !important;
}

nav.dark .nav-link {
    color: #000;
}

nav.dark .logo {
    color: #000;
    padding-left: 0;
}

nav.dark .logo-description {
    color: #000;
}

nav.dark ul {
    padding-right: 0 !important;
}

/* ------------------------------- */
/* FOTTER */
/* ------------------------------- */

footer {
    position: relative;
    height: 100% !important;
    height: 200px;
    background-color: #acff00;
    margin-top: 150px;
}

.footer-block {
    padding-top: 150px;
    padding-bottom: 50px;
}

.copyright {
    font-size: 16px;
}

footer .container {
    position: relative;
}

/* ----------------- */
/* HOME */
/* ----------------- */

/* HERO */

#hero {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.home{
    height: 100vh;
    background-image: url('../images/home-northface.jpeg');
    background-size: cover;
    padding-top: 200px;
}

.homeTitle{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeTiendas{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBtnsTiendas{
    height:400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logoCircle{
    height: 60px;
    width: 60px;
    margin: 40px;
}

.social-media {
    width: 400px;
    position: absolute;
    text-decoration: none;
    transform: rotate(90deg);
    right: -140px;
}

.social-media a {
    text-decoration: none;
    color: #939393;
    font-family: 'Montserrat';
}

#hero .imagotipo {
    position: absolute;
    bottom: 0;
}

.keep-scrolling {
    position: absolute;
    right: 350px;
    bottom: 95px;
    font-family: 'Montserrat';
    color: #acff00;
    letter-spacing: 5px;
    text-align: center;
    padding: 20px;
    /* border: 1px solid #acff00; */
    border-radius: 100px;
}


/* ------------------------------- */
/* section TIENDAS */
/* ------------------------------- */

#section-tiendas {
    margin-right: 0;
    padding-right: 0;
    background-color: #000;
    overflow: hidden;
}

/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tienda-slide {
    position: relative;
    height: 500px;
    transition: .5s ease-in-out;
    background-position: center !important;
    background-size: contain !important;
}

.tiendalink-home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tienda-slide:hover {
    width: 500px !important;
    cursor: pointer;

}

.swiper {
    overflow: initial;
}

.officialWeb {
    display: block;
    color: #acff00;
    margin-top: 50px;
    margin-left: 50px;
    text-decoration: none;
    font-family: 'Montserrat';
}


/* ------------------------------- */
/* INPUTS - Material Desing */
/* ------------------------------- */

.input-contain{
    position: relative;
    margin-top: 50px;
}
.input-contain input{
    height: 3rem;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #000;
    color: #fff !important;
}
input:focus{
    outline: none;
    border-color: #acff00;
}
input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text{
    background-color: transparent;
    font-size: 0.9rem;
    color: #6c757d;
    transform: translate(-15%, -160%);
    padding: 0 6px;
}
input:focus + .placeholder-text .text{
    border-color: #acff00;
    color: #acff00;
}
.placeholder-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;
}
.input-contain .text{
    font-size: 1.1rem;
    background-color: transparent;
    transform: translate(0);
    color: #6c757d;
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}
input, .placeholder-text{
    font-size: 1.1rem;
    padding: 0 20px;
}

.input-contain span {
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 20px;
    color: #6c757d;
}

.form-control:focus {
    box-shadow: none !important;
    background-color: #000;
}

@media (max-width: 40rem) {
    input{
        width: 70vw;
    }
}

.open-tienda {
    color: #6c757d;
    padding-left: 7px;
    margin-top: 10px
}

.invalid-input {
    color: #dc3545 !important;
}

/* ------------------------------- */
/* section Forms */
/* ------------------------------- */

form {
    min-width: 400px;
}

#tiendaForm {
    padding-top: 150px;
}

#register, .form-page-block {
    width: 100vw;
    padding-top: 200px;
    /* height: 100vh; */
}

.form {
    width: 500px;
}

.form-block {
    width: auto;
    padding: 50px;
    border: 5px solid;
    
}

.form-control:focus {
    border-color: #acff00;
}

input.drag-input {
    height: 100%;
    color: #6c757d !important;
}

input {
    background: transparent !important;
}


/* ------------------------------- */
/* Tienda */
/* ------------------------------- */

#tienda {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.tiendaImg {
    position: absolute;
    right: 15%;
    width: 35%;
    height: 0;
    background: #acff00;
    bottom: 0;
    background-position: center !important;
}

.active {
    transition: height 1.25s cubic-bezier(.55,0,.1,1);
    transition-delay: 0.5;
    height: 80%;
}

.tienda-info {
    position: absolute;
    top: 25%;
    left: 16%;
}

.description {
    color: #fff;
    width: 35%;
    font-family: 'Montserrat';
    margin-left: 50px;
    margin-top: 30px;
}


/* RATING STARS */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size:2vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
/* ------------------------------- */
/* ACCOUNT 
/* ------------------------------- */

.account-name {
    color: #fff;
    display: block;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    color: #acff00;
}

.password-account {
    width: 80%;
}

.image-delete {
    margin-left: 50px;
}

.editMainDiv {
    position: relative;
}

.editImage {
    position: absolute;
    top: 10px !important;
    right: 10px !important;    
}

.editMainDiv img {
    width: 100% !important;
    margin-bottom: 10px;
    object-fit: cover !important;
}


/* ------------------------------- */
/* LIKE - BTN 
/* ------------------------------- */

.divLike{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: end;
}
.like-button {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgba(26, 216, 9, 0.425);
    border-radius: 100%;
}
.like-button p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.icon-liked {
    color: red;
}

/* ------------------------------- */
/* PRODUCT - PAGE 
/* ------------------------------- */

#producto {
    color: #fff;
}

#producto .form-block {
    border: none;
}

.produto-block-info_img {
    width: 45%;
    object-fit: cover;
}

.produto-block-info_text {
    position: relative;
    width: 50%;
    padding: 150px 0;
}

.producto-title, .producto-price {
    font-size: 50px;
    color: #acff00;
    font-family: 'Montserrat';
    margin-bottom: 5px;
}

.producto-price {
    font-size: 30px;
}

.producto-block-title {
    max-width: 400px;
}

.producto-description {
    font-family: 'Montserrat';
    line-height: 150%;
    font-size: 16px;
}

.rating-title {
    font-size: 20px;
    margin-right: 10px;
}

.comment-block {
    margin-top: 150px;
}

.comment-block-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comment-block-title img {
    margin: 0;
}

.comment-block-title p {
    margin: 0;
    margin-left: 20px;
    font-size: 25px;
    text-transform: capitalize;
}

.comment-block-element {
    padding: 30px;
    border: 1px solid #acff00 !important;
    border-radius: 4px;
}

.comment-block-description {
    font-family: 'Montserrat';
}

.mouse_scroll_producto {
    margin-top: 40px !important;
    position: inherit !important;
    bottom: 0 !important;
    left: 0 !important;
}








/* -----------------maps----------------- */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 50%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .mapsMainDiv{
        
      }
      
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      
      #origin-input,
      #destination-input {
        background-color: #fff !important;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }
      
      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }
      
      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }
      
      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }