/* ----------------- */
/* BASIC */
/* ----------------- */

body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    text-transform: uppercase;
}

h1, h3 {
    color: #fff;
    font-size: 85px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
}

h4 {
    color: #fff;
    font-size: 50px;
}

.tienda-info h3 {
    text-transform: uppercase;
    width: 65%;
}

h3.small {
    font-size: 60px;
    text-transform: uppercase;
}

h5 {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #fff;
    text-transform: capitalize;
}

h5.dark {
    color: #000;
}

.color-brand {
    color: #acff00;
}

.montserrat {
    font-family: 'Montserrat, sans-serif' !important;
    font-weight: 900;
    font-style: italic;
}

.btn-brand-1 {
    padding: 10px 45px;
    background: #acff00 !important;
    color: #000;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 400;
    border-radius: 50px;
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    transition: 0.2 ease;
    border: 1px solid;
}

.btn-brand-1:hover {
    background: #000 !important;
    color: #acff00;
    border: 1px solid;
    transition: 0.2 ease;
}


.btn-brand-1_width {
    width: fit-content;
}

.btn-brand-1_account {
    margin-left: 15px;
}

.btn-brand-2 {
    display: inline-block;
    color: #acff00;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat';
    text-decoration: none;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    transition: .5s ease;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-brand-2:hover {
    background: #acff00;
    color: #000;
    border-radius: 50px;
}

.btn-brand-3 {
    border: 1px solid #acff00;
    border-radius: 50px;
    color: #acff00 !important;
}

.btn-brand-2_width {
    width: fit-content !important;
}

.btn-brand-google {
    width: 100%;
    color: #acff00;
    border-color: #acff00;
}

.btn-brand-google:hover {
    background-color: #acff00;
    color: #000;
    border-color: #acff00;
}

.logout {
    color: #939393 !important;
}

#owner-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}


form {
    position: relative;
    z-index: 9999;
}

.icon-login {
    margin-right: 7px;
}

#login img,
#register img {
    width: 45%;
    object-fit: cover;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

#register img {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

#login .form-block {
    
}

.login-form-block {
    width: 55%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 70px;
}

.login-form-block_register {
    padding-left: 0;
    padding-right: 10%;
}


button {
    background-color: transparent !important;
}

.fa-2x {
    font-size: 1.5em;
}

.modal {
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
}

.modal-content {
    background: #000;
    border: 2px solid #acff00;
    padding: 30px;
}

.btn-close {
    background-color: #fff !important;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}

#message-text,
.modal-body textarea {
    background: transparent;
    color: #fff;
    padding: 20px;
}

#message-text:focus,
.modal-body textarea:focus {
    color: #fff;
}

.modal-body {
    color: #fff;
    font-size: 18px;
}

.modal-footer {
    border: none !important;
}

.p-text {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    font-family: 'Montserrat';
    line-height: 150%;
    font-size: 18px;
}

.uppercase {
    text-transform: uppercase;
}

.big-description {
    font-size: 20px !important;
}

/* ----------------- */
/* NAV */
/* ----------------- */

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 35px;
    z-index: 9;
}

.logo {
    font-family: 'Montserrat, sans-serif';
    font-weight: 700;
    font-size: 50px;
    padding: 0 50px;
    position: relative;
    text-decoration: none;
}

.logo-description {
    position: absolute;
    font-family: 'Montserrat';
    top: 20px;
    right: -75px;
    font-weight: 300;
    color: #939393;
    font-size: 14px;
    width: 116px;
    line-height: 1.4;
}

.logo-link {
    text-decoration: none;
}

.imagotipo {
    top: 70px;
    font-size: 200px;
    color: #000;
    animation: movidito 4s infinite;
}

.imagotipo-down {
    position: absolute;
    z-index: 0;
    top: 160px;
    transform: scale(1,0.5);
    filter: blur(10px);
    animation: sombrita 4s infinite;
    font-size: 320px;
    color: #000;
    z-index: 9999;
    opacity: 0.7;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #fff;
    font-size: 20px;
    text-transform: lowercase;
}

.nav-link:hover {
    color: #acff00;
}


.logo-tienda {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 0;
    object-fit: contain;  
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    height: 150px;
    object-fit: cover;
}

.tienda-productos {
    margin-top: 200px;
}

.product-slide {
    height: 400px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #fff !important;
}

.head-product, .footer-product {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.footer-product {
    top: auto;
    bottom: 20px;
}

.productos-liked {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.productos-liked_element {
    width: 30%;
    padding-right: 2%;
    margin-bottom: 25px;
}

.productos-liked_element a {
    width: 100%;
    height: 100%;
    display: block;
}

.productos-liked_element a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.position-fixed.top-0.end-0.p-3 {
    top: 80% !important;
    transition: 0.2s ease;
}

#toast {
    padding: 20px;
    color: #000 !important;
    font-size: 18px;
    background: #acff00 !important;
    border-radius: 4px 0px 0px 4px;
    transition: 0.2s ease;
}



/* nav Dark */

nav.dark {
    padding: 20px 0 !important;
}

nav.dark .nav-link {
    color: #000 !important;
    border-color: #000 !important;

}

nav.dark .logo {
    color: #000;
    padding-left: 0;
}

nav.dark .logo-description {
    color: #000;
}

nav.dark ul {
    padding-right: 0 !important;
}

/* ------------------------------- */
/* FOOTER */
/* ------------------------------- */

footer {
    position: relative;
    height: 250px;
    background-color: #acff00;
    margin-top: 100px;
}

.footer-block {
    padding-top: 150px;
    padding-bottom: 50px;
}

.copyright {
    font-size: 16px;
}

footer .container {
    position: relative;
}

/* ----------------- */
/* HOME */
/* ----------------- */

/* HERO */

#hero {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.home{
    height: 100vh;
    background-image: url('../images/home-northface.jpeg');
    background-size: cover;
    padding-top: 200px;
}

.homeTitle{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeTiendas{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBtnsTiendas{
    height:400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logoCircle{
    height: 60px;
    width: 60px;
    margin: 40px;
}

.social-media {
    width: 400px;
    position: absolute;
    text-decoration: none;
    transform: rotate(90deg);
    right: -140px;
}

.social-media a {
    text-decoration: none;
    color: #939393;
    font-family: 'Montserrat';
}

#hero .imagotipo {
    position: absolute;
    bottom: 0;
}

.keep-scrolling {
    position: absolute;
    right: 350px;
    bottom: 95px;
    font-family: 'Montserrat';
    color: #acff00;
    letter-spacing: 5px;
    text-align: center;
    padding: 20px;
    /* border: 1px solid #acff00; */
    border-radius: 100px;
}

/* ------------------------------- */
/* section TIENDAS */
/* ------------------------------- */

#section-tiendas {
    margin-right: 0;
    padding-right: 0;
    background-color: #000;
    overflow: hidden;
}

/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  /* overflow: initial; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tienda-slide {
    position: relative;
    height: 500px;
    transition: .5s ease-in-out;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.tiendalink-home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.tiendalink-home.noFullHeight {
    height: 100%;
}

.tienda-slide:hover {
    width: 600px !important;
    cursor: pointer;

}


.officialWeb {
    display: block;
    color: #acff00;
    margin-top: 50px;
    margin-left: 50px;
    text-decoration: none;
    font-family: 'Montserrat';
}

.officialWeb:hover {
    color: #8ace01;
}

.all-shops-block {
    overflow: hidden;
    margin-bottom: 200px;
  
}

.all-shops {
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 99;
    transition: 1s ease;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.all-shops:last-child {
    margin-bottom: 0;
}

.all-shops:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

.shops-h1 {
    text-align: center;
    margin-bottom: 70px;
}

.shops-gidu {
    font-size: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* ------------------------------- */
/* INPUTS - Material Desing */
/* ------------------------------- */

.input-contain{
    position: relative;
    margin-top: 50px;
}
.input-contain input{
    height: 3rem;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #000;
    color: #fff !important;
}
input:focus,
textarea:focus {
    outline: none;
    border-color: #acff00;
}
input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text{
    background-color: transparent;
    font-size: 0.9rem;
    color: #6c757d;
    transform: translate(-15%, -160%);
    padding: 0 6px;
}
input:focus + .placeholder-text .text{
    border-color: #acff00;
    color: #acff00;
}
.placeholder-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;
}
.input-contain .text{
    font-size: 1.1rem;
    background-color: transparent;
    transform: translate(0);
    color: #6c757d;
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}
input, .placeholder-text{
    font-size: 1.1rem;
    padding: 0 20px;
}

.input-contain span {
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 20px;
    color: #6c757d;
}

label.form-label.drag-label,
.description-edit {
    color: #6c757d;
    font-size: 1rem;
}

.form-control:focus {
    box-shadow: none !important;
    background-color: #000;
}

@media (max-width: 40rem) {
    input{
        width: 70vw;
    }
}

.open-tienda {
    color: #6c757d;
    padding-left: 7px;
    margin-top: 10px
}

.invalid-input {
    color: #dc3545 !important;
}

/* ------------------------------- */
/* section Forms */
/* ------------------------------- */

form {
    min-width: 400px;
}

#tiendaForm {
    padding-top: 150px;
}

#register, .form-page-block {
    width: 100vw;
    padding-top: 150px;
    /* height: 100vh; */
}

.form {
    width: 500px;
}

.form-block {
    width: auto;
    padding: 50px;
    border: 5px solid;
    
}

.form-control:focus {
    border-color: #acff00;
}

input.drag-input {
    height: 100%;
    color: #6c757d !important;
}

input, textarea {
    background: transparent !important;
}


/* ------------------------------- */
/* Tienda */
/* ------------------------------- */

#tienda {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.tiendaImg-block {
    position: absolute;
    right: 15%;
    width: 35%;
    height: 0;
    background: #acff00;
    bottom: 0;
}

.tiendaImg {
    background: #acff00;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-position: center !important;
    รง
}

.active {
    transition: height 1.25s cubic-bezier(.55,0,.1,1);
    transition-delay: 0.5;
    height: 80%;
}

.tienda-info {
    position: absolute;
    top: 25%;
    left: 16%;
}

.description {
    color: #fff;
    width: 35%;
    font-family: 'Montserrat';
    margin-left: 50px;
    margin-top: 30px;
}


/* RATING STARS */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size:2vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
/* ------------------------------- */
/* ACCOUNT 
/* ------------------------------- */

.account-name {
    color: #fff;
    display: block;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    color: #acff00;
}

.password-account {
    width: 80%;
}

.image-delete {
    margin-left: 50px;
}

.editMainDiv {
    position: relative;
    padding: 55px;
    background: #fff;
}

.editImage {
    position: absolute;
    top: 10px !important;
    right: 10px !important;    
}

.editMainDiv img {
    width: 100% !important;
    margin-bottom: 10px;
    object-fit: cover !important;
}

.input-createTienda {
    border: solid 1px #acff00;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.userlikes-title {
    margin-top: 80px;
}

.form-control {
    color: #fff;
}
.form-control:focus {
    color: #fff !important;
}

.fa-lg {
    color: #000;
}

.delete-account-button {
    position: relative;
    bottom: -60px;
    left: 0;
}

.image-delete {
    position: relative;
}

.map-info {
    width: 35%;
}

.map-google {
    width: 63%;
}

.map-title {
    font-size: 20px !important;
    color: #acff00 !important;
    font-family: 'Montserrat' !important;
    font-weight: 700;
}

/* ------------------------------- */
/* LIKE - BTN 
/* ------------------------------- */

.divLike{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 13%;
    bottom: 0;
    background: #cccccc;
}

.icon-liked {
    color: #e04652;
}

.like-button p{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
}

.like-button {
    position: absolute;
    width: 100%;
    top: 0px;
    /* right: 20px; */
}

.like-button::before {
    position: absolute;
    right: 20px;
    top: 20px;
}


/* ------------------------------- */
/* PRODUCT - PAGE 
/* ------------------------------- */

#producto {
    color: #fff;
}

#producto .form-block {
    border: none;
}

.produto-block-info_img {
    width: 45%;
    object-fit: cover;
}

.produto-block-info_text {
    position: relative;
    width: 50%;
    padding: 100px 0;
}

.producto-title, .producto-price {
    font-size: 50px;
    color: #acff00;
    margin-bottom: 5px;
}

.producto-title {
    padding-right: 30px;
}

.producto-price {
    font-size: 30px;
}

.producto-block-title {
    max-width: 400px;
}

.producto-description {
    font-family: 'Montserrat';
    line-height: 150%;
    font-size: 16px;
}

.rating-title {
    font-size: 20px;
    margin-right: 10px;
}

.comment-block {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.comment-block-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comment-block-title img {
    margin: 0;
}

.comment-block-title p {
    margin: 0;
    margin-left: 20px;
    font-size: 25px;
    text-transform: capitalize;
}

.comment-block-element {
    width: 30%;
    padding: 30px;
    border: 1px solid #acff00 !important;
    border-radius: 4px;
    margin-right: 2%;
    margin-bottom: 25px;
}

.comment-block-description {
    font-family: 'Montserrat';
}

.mouse_scroll_producto {
    margin-top: 40px !important;
    position: inherit !important;
    bottom: 0 !important;
    left: 0 !important;
}

.editDelete-product {
    width: 35%;
    display: flex;
    align-items: center;
    margin-top: 35px;
}

#infoGidu {
    margin-bottom: 100px;
}

.infoGidu-block_img {
    position: relative;
    width: 40%;
    background: chartreuse !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.infoGidu-block_test {
    width: 57%;
    padding: 10% 5%;
}

@keyframes sombrita {
	0% {transform: scale(1,0.5); filter: blur(15px);}
	50% {transform: scale(0.7,0.35); filter: blur(7px);}
	100% {transform: scale(1,0.5); filter: blur(15px);}
}


@keyframes movidito {
	0% {margin-top: -200px;}
	50% {margin-top: -150px;}
	100% {margin-top: -200px;}
}

@-webkit-keyframes slideInRight {
from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
}

to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

@keyframes slideInRight {
from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
}

to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

.slideInRight {
-webkit-animation-name: slideInRight;
animation-name: slideInRight;
}

@-webkit-keyframes slideInLeft {
from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

@keyframes slideInLeft {
from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

.slideInLeft {
-webkit-animation-name: slideInLeft;
animation-name: slideInLeft;
}
